<section>
  <button class="btn btn-primary rounded-circle my-3" (click)="updateProduct()">+</button>

  @let productList = currentUserProducts.value()?.content;

  @if (currentUserProducts.hasValue()) {

    <div class="row">

      @for (product of productList; track $index) {

        <div class="col-4 p-4">
          <div class="card h-100">
            <div class="card-header">
              {{ product.name }}
            </div>
            <div class="card-body">
              @if (product.images.length) {
                <owl-carousel-o [options]="customOptions">
                  @for (image of product.images; track image.id + image.filename) {
                    <ng-template carouselSlide>
                      <div
                        class="rounded-4 overflow-hidden"
                        style="height: 20vh"
                      >
                        <img
                          [priority]="$index < 3"
                          [ngSrc]="environment.apiRoot + '/upload/' + image.filename"
                          fill
                          class="object-fit-cover w-100 h-100" alt="product">
                      </div>
                    </ng-template>
                  }
                </owl-carousel-o>
              }
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between w-100">
                <div class="d-flex">
                  <app-img-loc [imgData]="product.seller.profileImg">
                  </app-img-loc>
                  <div class="ms-2">
                    {{ product.seller.username }}
                  </div>
                </div>
                <div>
                  <button class="me-2" (click)="updateProduct(product)">
                    <img src="assets/icons/pen.svg" alt="edit">
                  </button>
                  <button>
                    <img src="assets/icons/trash3.svg" alt="delete" (click)="deleteProduct(product.id)">
                  </button>
                </div>
              </div>
              <div class="description text-ellipsis-2lines mb-2">
                {{ product.description }}
              </div>
              <div>
                Amount : {{ product.price }} AZN
              </div>
              <div>
                In Stock : {{ product.stockQuantity }}
              </div>
            </div>
          </div>
        </div>

      }
    </div>

  }

</section>
