<section class="p-3">
  <header class="border-bottom p-3 d-flex justify-content-between">
    <h5>Some Title</h5>
    <button (click)="close()">
      <img src="assets/icons/x-circle.svg" alt="close">
    </button>
  </header>
  <form
    [formGroup]="form"
    (ngSubmit)="submitForm()"
    class="form d-flex flex-column card-body">

    <label class="mb-3">
      Product Name
      <input
        type="text"
        class="form-control"
        formControlName="name">
    </label>

    <label class="mb-3">
      Description
      <textarea
        class="form-control"
        rows="5"
        formControlName="description">
      </textarea>
    </label>

    <label class="mb-3">
      Price
      <input
        type="number"
        class="form-control"
        formControlName="price">
    </label>

    <label class="mb-3">
      Stock Quantity
      <input
        type="number"
        class="form-control"
        formControlName="stockQuantity">
    </label>
    @if (categories.hasValue()) {
      @let categoryList = categories.value().content;

      <label class="mb-3">
        Category

        <select
          class="form-control"
          formControlName="categoryId">
          <option [ngValue]="null">Select Category...</option>

          @for (category of categoryList; track $index) {
            <option [ngValue]="category.id">
              {{ category.name }}
            </option>

          }
        </select>
      </label>

    }

    <label class="mb-3">
      Images
      <input
        type="file"
        accept="image/*"
        multiple
        (change)="uploadFiles($event)">
    </label>
    @if (images().length) {

      <div class="d-flex flex-wrap gap-2 mb-3">

        @for (image of images(); track $index) {

         <div class="position-relative">
           <button type="button" (click)="deleteProductFile(image.id, data)" class="position-absolute">x</button>
           <img
             [src]="environment.apiRoot + '/upload/' + image.filename"
             width="120"
             height="120"
             style="object-fit: cover; border-radius: 6px;">
         </div>

        }
      </div>
    }
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="form.invalid">

      {{data?.id ? 'Update Product' : 'Create Product'}}

    </button>

  </form>

</section>
