<section>
  <article class="card mb-3">
    <form [formGroup]="form" (ngSubmit)="submit()" class="form flex-column d-flex card-body">
      <label for="" class="form-label">
        Title
        <input formControlName="title" class="form-control" type="text">
      </label>
      <label for="" class="form-label">
        Title
        <input formControlName="description" class="form-control" type="text">
      </label>
      <button class="btn btn-outline-secondary" type="submit">CREATE TODO</button>
    </form>
  </article>

  @let todos = todoList.value()?.content;

  @if (todoList.hasValue() && todos && todos.length > 0) {
    <article class="card mb-3">
      <div class="card-body">
        <div class="d-flex flex-column gap-3">
          @for (todo of todos; track todo.id) {
            <div class="shadow p-3 rounded-4">
              {{ todo.title }}
              {{ todo.description }}
            </div>
          }
        </div>
      </div>
    </article>
  }

</section>
